.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.body {
  background-color: #fff;
}

.top_nav {
  position: -webkit-sticky;
  position: sticky;
  left: 0%;
  top: 0px;
  right: 0%;
  bottom: auto;
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #fff;
}

.logo-area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.top-menu-list {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
  padding-top: 0px;
}

.top-icons {
  display: none;
}

.image {
  width: 60px;
  height: 60px;
  margin-left: 30px;
}

.logo-txt {
  margin-top: 0px;
  margin-left: 20px;
  padding-top: 20px;
  padding-left: 0px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #000;
  font-size: 25px;
  font-weight: 700;
  text-decoration: none;
}

.logo-dot {
  width: 8px;
  height: 8px;
  margin-top: 34px;
  margin-left: 6px;
  border-radius: 5px;
  background-color: #fd9b9b;
}

.top-menu-link {
  margin-right: 44px;
  margin-left: 44px;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-weight: 700;
  text-decoration: none;
}

.top-menu-link:hover {
  color: #000;
}

.top-menu-link.current {
  color: #000;
}

.top-menu-link.current.w--current {
  color: #bebebe;
}

.top-menu-link.current {
  color: #141313;
}

.top-menu-link.current.w--current {
  color: #000;
}

.top-nav-highlight {
  position: static;
  z-index: 4;
  margin-right: 44px;
  margin-left: 44px;
  border-bottom: 2.5px solid #fd9b9b;
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  cursor: default;
}

.top-nav-icon {
  width: 20px;
  height: 20px;
  margin-left: 32px;
}

.bottom-nav {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 5%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.bottom-copyright {
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
}

.bottom-social-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.bottom-nav-link {
  margin-left: 28px;
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.right-nav {
  position: fixed;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 75px;
  height: 280px;
  margin-top: auto;
  margin-right: 20px;
  margin-bottom: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: -3px 0 12px 0 rgba(9, 3, 3, 0.44);
}

.right-nav-list {
  display: none;
}

.image-2 {
  width: 50px;
  height: 50px;
}

.image-3 {
  width: 50px;
  height: 50px;
}

.right-nav-img {
  width: 50px;
  height: 50px;
  margin-top: 13px;
  margin-bottom: 13px;
}

.main-content {
  display: block;
  width: 100%;
  height: 100vh;
  margin-top: auto;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.top-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  max-height: 700px;
  max-width: 1150px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #fff;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
  -o-object-fit: fill;
  object-fit: fill;
}

.bottom-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70%;
  max-width: 1200px;
  margin: auto;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.left-content-img {
  margin-top: 0px;
}

.right-content-paragraph {
  display: block;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #9e9e9e;
  font-size: 15px;
  line-height: 25px;
}

.right-content-heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'PT Serif', serif;
  letter-spacing: 3px;
}

.hamburger {
  display: none;
  width: 35px;
  height: 35px;
  margin-left: 32px;
}

.left-contetnt-img {
  max-width: 100%;
  margin-right: 5px;
  margin-left: auto;
  padding-right: 0px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.mobile-product-img {
  display: none;
}

.image-4 {
  height: auto;
  margin-right: auto;
  margin-left: 5px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.top1 {
  margin-top: 431px;
}

.top2 {
  margin-top: 10px;
}

.right-nav-list2 {
  display: block;
  margin-top: 10px;
  padding-left: 0px;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  list-style-type: none;
}

.image-5 {
  margin-top: -230px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.image-6 {
  margin-top: -235px;
}

.image-7 {
  margin-top: 20px;
  padding-top: 0px;
}

.list-item {
  display: none;
  padding-right: 0px;
}

.navbar-light {
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  font-family: Montserrat, sans-serif;
}

.container-light-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.navbar-light-brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.company-name-block {
  padding-left: 12px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.navbar-light-bold-link {
  margin-right: 10px;
  padding-right: 40px;
  padding-left: 40px;
  color: #747474;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: lowercase;
}

.navbar-light-bold-link:hover {
  color: #000;
}

.navbar-light-navbutton {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  padding: 12px 30px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 0px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: lowercase;
}

.navbar-light-navbutton:hover {
  background-color: #242424;
}

.layout-container {
  display: block;
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  font-family: Montserrat, sans-serif;
}

.layout-container.cc-heading-wrap {
  margin-top: 60px;
  margin-bottom: 80px;
  text-align: center;
}

.heading-contact-form {
  color: #000;
}

.paragraph-bigger {
  margin-bottom: 10px;
  opacity: 1;
  color: #242424;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
}

.paragraph-bigger.cc-bigger-light {
  opacity: 0.6;
}

.get-in-touch-form-wrap {
  display: none;
  width: 70%;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.get-in-touch-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.credentials-inputs-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.contact-name-field-wrap {
  width: 50%;
  padding-right: 10px;
}

.contact-form-field-label {
  color: #242424;
}

.contact-form-text-field {
  margin-bottom: 18px;
  padding: 21px 20px;
  border: 1px solid #e4e4e4;
  border-radius: 0px;
  -webkit-transition: border-color 400ms ease;
  transition: border-color 400ms ease;
  font-size: 14px;
  line-height: 26px;
}

.contact-form-text-field:hover {
  border-color: #e3e6eb;
}

.contact-form-text-field:active {
  border-color: #43464d;
}

.contact-form-text-field:focus {
  border-color: #43464d;
}

.contact-form-text-field::-webkit-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.contact-form-text-field:-ms-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.contact-form-text-field::-ms-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.contact-form-text-field::placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.contact-form-text-field.cc-contact-field {
  margin-bottom: 25px;
}

.contact-form-text-field.cc-input-textarea {
  height: 200px;
  padding-top: 12px;
}

.email-name-field-wrap {
  width: 50%;
  padding-left: 10px;
}

.contact-form-submit-button {
  padding: 12px 25px;
  border-radius: 0px;
  background-color: #1a1b1f;
  -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.contact-form-submit-button:hover {
  background-color: #32343a;
  color: #fff;
}

.contact-form-submit-button:active {
  background-color: #43464d;
}

.status-message {
  padding: 9px 30px;
  background-color: #202020;
  color: #fff;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.status-message.cc-success-message {
  background-color: #12b878;
}

.status-message.cc-error-message {
  background-color: #db4b68;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.subscribe-section {
  position: relative;
  display: block;
  overflow: hidden;
  font-family: Montserrat, sans-serif;
}

.subscribe-section.cc-subscribe-form {
  padding-right: 0px;
  padding-left: 0px;
}

.subscribe-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: none;
  min-width: auto;
  margin-right: auto;
  margin-left: auto;
  padding: 80px 0px 85px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.subscribe-content-wrapper {
  position: relative;
  display: block;
  width: 940px;
  margin: 40px auto;
  font-family: Montserrat, sans-serif;
}

.subscribe-content-wrapper.cc-subscribe-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.footer-subheadline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 100;
}

.subscribe-form-decorative-line {
  display: inline-block;
  width: 30px;
  height: 1px;
  background-color: rgba(210, 210, 213, 0.3);
}

.subscribe-form-label {
  position: static;
  display: block;
  opacity: 0.6;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.subscribe-form-label.cc-subheadline {
  margin-right: 15px;
  margin-left: 15px;
  font-weight: 600;
}

.subscribe-headline {
  margin-top: 15px;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
}

.form-block {
  display: block;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-field-dark {
  width: auto;
  height: 54px;
  margin-bottom: 0px;
  padding: 18px 24px;
  border-color: #2f303e;
  border-radius: 0px;
  background-color: transparent;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.text-field-dark.cc-subscribe-input {
  width: 350px;
  margin-right: 10px;
  background-color: hsla(0, 0%, 100%, 0.2);
  -webkit-transition: border 400ms ease;
  transition: border 400ms ease;
  font-weight: 600;
  text-align: left;
  letter-spacing: 1.3px;
}

.text-field-dark.cc-subscribe-input:hover {
  border-color: hsla(0, 0%, 100%, 0.5);
}

.text-field-dark.cc-subscribe-input:active {
  border-color: hsla(0, 0%, 100%, 0.6);
}

.text-field-dark.cc-subscribe-input:focus {
  border-color: hsla(0, 0%, 100%, 0.5);
}

.white-button {
  position: relative;
  display: inline-block;
  padding: 18px 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom-style: none;
  border-radius: 0px;
  background-color: #fff;
  box-shadow: 0 2px 6px 0 rgba(29, 31, 46, 0.1);
  -webkit-transition: background-color 400ms ease, opacity 400ms ease, box-shadow 400ms ease;
  transition: background-color 400ms ease, opacity 400ms ease, box-shadow 400ms ease;
  color: #1d1f2e;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.white-button:hover {
  background-color: hsla(0, 0%, 98%, 0.9);
  box-shadow: 0 3px 8px 0 rgba(29, 31, 46, 0.15);
  opacity: 0.96;
  color: #161724;
}

.success-message {
  padding: 0px;
  background-color: transparent;
}

.success-message-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.newsletter-success-icon {
  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 0px;
}

.newsletter-success-text {
  display: inline-block;
  line-height: 24px;
  text-align: left;
}

.error-message {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #a25f4b;
  color: #fff;
}

.second-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1100px;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.centered-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1124px;
  min-height: 300px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
}

.centered-container.horizontal-flex {
  max-width: 1100px;
  min-height: 350px;
  padding-top: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.feature-section-image {
  width: 600px;
  height: 384px;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.feature-section-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: none;
  min-height: 500px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 60px;
  padding-left: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.feature-section-heading-1 {
  max-width: 600px;
  font-family: Oswald, sans-serif;
  color: #000;
  font-size: 30px;
  line-height: 48px;
  font-weight: 400;
  text-align: center;
}

.paragraph {
  max-width: 800px;
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: Inconsolata, monospace;
  color: #747474;
  text-align: left;
}

.primary-button-black {
  margin-right: 20px;
  margin-left: 0px;
  padding: 12px 30px;
  background-color: #000;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.primary-button-black:hover {
  background-color: #000;
}

.footer-with-links-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 50px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
}

.webflow-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.5;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  text-decoration: none;
  text-transform: uppercase;
}

.webflow-link:hover {
  opacity: 1;
}

.webflow-link:active {
  opacity: 0.8;
}

.webflow-logo-tiny {
  margin-top: -2px;
  margin-right: 8px;
}

.paragraph-tiny {
  color: #747474;
  font-size: 12px;
  line-height: 20px;
}

.footer-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-item {
  margin-right: 20px;
  margin-left: 20px;
  opacity: 0.6;
  color: #000;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-item:hover {
  opacity: 0.9;
}

.footer-item:active {
  opacity: 0.8;
}

.footer-thin-container {
  max-width: 1124px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.footer-thin-wrapper {
  padding-top: 70px;
  padding-bottom: 70px;
  font-family: Montserrat, sans-serif;
}

.footer-thin-wrapper.footer-thin {
  padding-top: 42px;
  padding-bottom: 42px;
  background-color: #2b2c2e;
  color: #e4e8eb;
}

.footer-thin-wrapper.footer-thin.copyright {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  padding-top: 19px;
  padding-bottom: 19px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: #000;
  color: #939596;
  font-size: 14px;
  -o-object-fit: fill;
  object-fit: fill;
}

.copyright-text {
  text-align: center;
}

.first-section {
  width: 100%;
  height: auto;
  max-width: 1200px;
  margin-top: 85px;
  margin-right: auto;
  margin-left: auto;
}

.about-services-section {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.layout-container-2 {
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  font-family: Montserrat, sans-serif;
}

.section-heading-wrap {
  margin-top: 95px;
  margin-bottom: 39px;
  text-align: center;
}

.uppercase-label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.uppercase-label.cc-light {
  opacity: 0.6;
}

.about-services-heading {
  color: #000;
}

.our-services-grid {
  margin-bottom: 0px;
  grid-column-gap: 80px;
  grid-row-gap: 60px;
  -ms-grid-rows: auto 60px auto;
  grid-template-areas: ". . ."
    ". . .";
  -ms-grid-columns: 1fr 80px 1fr 80px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.service-icon {
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
}

.paragraph-light {
  opacity: 0.6;
  color: #242424;
}

.icon {
  display: none;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.nav-menu-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.nav-overlay {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

.nav-overlay-list {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 3;
  display: none;
}

.top-nav {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 4;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  max-width: 1200px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.section-2 {
  position: -webkit-sticky;
  position: sticky;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-3 {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.image-8 {
  display: block;
  width: 900px;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 8vh;
  max-height: 100vh;
  max-width: 200px;
  padding: 12px 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  background-color: #000;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-size: 35px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
}

.div-block-3 {
  display: none;
}

@media screen and (max-width: 991px) {
  .top_nav {
    position: -webkit-sticky;
    position: sticky;
    display: none;
    max-width: 700px;
  }

  .logo-area {
    margin-right: auto;
    margin-left: auto;
  }

  .logo-area.w--current {
    margin-right: auto;
    margin-left: auto;
  }

  .top-menu-list {
    display: none;
  }

  .top-icons {
    display: block;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .image {
    width: 45px;
    height: 45px;
  }

  .logo-txt {
    padding-top: 15px;
    font-size: 22px;
  }

  .logo-dot {
    width: 6px;
    height: 6px;
    margin-top: 27px;
  }

  .top-menu-link {
    font-size: 12px;
    line-height: 18px;
  }

  .top-nav-highlight.overlay {
    margin-right: 0px;
    margin-left: 0px;
    font-size: 20px;
  }

  .top-nav-icon {
    width: 18px;
    height: 18px;
    margin-right: auto;
    margin-left: auto;
  }

  .bottom-nav {
    max-width: 700px;
  }

  .bottom-copyright {
    font-size: 8px;
  }

  .bottom-nav-link {
    font-size: 8px;
  }

  .right-nav {
    width: 55px;
    height: 248px;
  }

  .top-content {
    width: 100%;
    height: auto;
    max-height: none;
    max-width: 890px;
  }

  .bottom-content {
    width: auto;
    height: auto;
    max-width: 700px;
    min-height: 0px;
  }

  .right-content-paragraph {
    font-size: 11px;
    line-height: 19px;
  }

  .right-content-heading {
    font-size: 26px;
  }

  .hamburger {
    display: block;
    width: 35px;
    height: 35px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .image-7 {
    margin-top: 8px;
  }

  .container-light-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .navbar-light-navbutton {
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .menu-button {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .navbar-light-icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    color: #5343ff;
  }

  .layout-container {
    max-width: 900px;
  }

  .layout-container.cc-heading-wrap {
    max-width: 900px;
    margin-bottom: auto;
  }

  .heading-contact-form {
    font-size: 35px;
    line-height: 40px;
  }

  .paragraph-bigger.cc-bigger-light {
    font-size: 17px;
    line-height: 31px;
  }

  .get-in-touch-form {
    text-align: left;
  }

  .credentials-inputs-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .contact-name-field-wrap {
    width: 100%;
    padding-right: 0px;
  }

  .email-name-field-wrap {
    width: 100%;
    padding-left: 0px;
  }

  .contact-form-submit-button {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .subscribe-section.cc-subscribe-form {
    padding-right: 0px;
    padding-left: 0px;
  }

  .subscribe-container {
    display: block;
    max-width: none;
    min-width: auto;
    padding-right: 50px;
    padding-left: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .subscribe-content-wrapper {
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
  }

  .subscribe-content-wrapper.cc-subscribe-form {
    display: block;
    width: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .error-message {
    width: auto;
  }

  .second-section {
    max-width: 900px;
    margin-top: auto;
  }

  .centered-container {
    max-width: 1200px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .centered-container.horizontal-flex {
    max-width: 850px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  .feature-section-image {
    width: auto;
    height: auto;
    max-width: 100%;
  }

  .feature-section-content {
    min-height: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .list-item-2 {
    font-size: 12px;
    line-height: 18px;
  }

  .footer-thin-container {
    max-width: 1200px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .first-section {
    height: auto;
    max-width: 900px;
    margin-top: 97px;
  }

  .about-services-section {
    position: static;
  }

  .layout-container-2 {
    position: static;
  }

  .our-services-grid {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    grid-template-areas: ". ."
      ". ."
      ". .";
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
    text-align: center;
  }

  .service-icon {
    display: inline-block;
  }

  .nav-overlay {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }

  .nav-overlay-list {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 3;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav-overlay-link {
    position: static;
    font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, sans-serif;
    color: #000;
    font-size: 40px;
    text-decoration: none;
  }

  .list-item-3 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .nav-overlay-menu {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .section {
    position: fixed;
    z-index: 3;
  }

  .top-nav {
    max-width: 900px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .section-2 {
    max-width: 700px;
  }

  .top-nav-menu-list {
    display: none;
  }

  .section-3 {
    max-width: 900px;
  }

  .image-8 {
    width: 700px;
  }

  .button {
    height: 7vh;
    font-size: 32px;
  }
}

@media screen and (max-width: 767px) {
  .top_nav {
    max-width: 500px;
  }

  .image {
    width: 40px;
    height: 40px;
  }

  .logo-txt {
    font-size: 20px;
  }

  .top-menu-link {
    font-size: 11px;
    line-height: 17px;
  }

  .top-nav-icon {
    margin-left: auto;
  }

  .bottom-nav {
    max-width: 500px;
  }

  .right-nav {
    display: none;
  }

  .main-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .top-content {
    width: auto;
    height: auto;
    max-width: 650px;
  }

  .bottom-content {
    width: auto;
    height: auto;
    max-width: 500px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .right-content-paragraph {
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
  }

  .right-content-heading {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .mobile-product-img {
    display: block;
  }

  .container-light-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .menu-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .layout-container {
    max-width: 700px;
    text-align: center;
  }

  .layout-container.cc-heading-wrap {
    max-width: 700px;
    margin-bottom: auto;
  }

  .heading-contact-form {
    font-size: 25px;
    line-height: 35px;
  }

  .paragraph-bigger {
    font-size: 16px;
    line-height: 28px;
  }

  .paragraph-bigger.cc-bigger-light {
    font-size: 12px;
    line-height: 28px;
  }

  .get-in-touch-form-wrap {
    width: 90%;
    max-width: 470px;
  }

  .contact-form-text-field.cc-contact-field {
    text-align: left;
  }

  .contact-form-text-field.cc-input-textarea {
    text-align: left;
  }

  .subscribe-container {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .subscribe-content-wrapper {
    padding-right: 4%;
    padding-left: 4%;
  }

  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .text-field-dark.cc-subscribe-input {
    width: auto;
    margin-right: 0px;
    margin-bottom: 10px;
    text-align: center;
  }

  .error-message {
    font-size: 14px;
    line-height: 22px;
  }

  .second-section {
    max-width: 700px;
    margin-top: auto;
  }

  .centered-container.horizontal-flex {
    max-width: 500px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  .feature-section-content {
    min-height: auto;
  }

  .feature-section-heading-1 {
    font-size: 20px;
  }

  .paragraph {
    font-size: 11px;
    line-height: 16px;
  }

  .footer-with-links-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  .webflow-link {
    margin-bottom: 15px;
  }

  .footer-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-item {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
  }

  .footer-thin-wrapper {
    padding-top: 43px;
    padding-bottom: 43px;
    text-align: center;
  }

  .first-section {
    height: auto;
    max-width: 700px;
  }

  .layout-container-2 {
    text-align: center;
  }

  .our-services-grid {
    grid-row-gap: 60px;
    grid-template-areas: "."
      "."
      "."
      "."
      "."
      ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 60px auto 60px auto 60px auto 60px auto 60px auto;
    grid-template-rows: auto auto auto auto auto auto;
  }

  .top-nav {
    max-width: 700px;
  }

  .section-3 {
    max-width: 700px;
  }

  .image-8 {
    width: 400px;
  }

  .button {
    height: 6vh;
    font-size: 33px;
    line-height: 16px;
  }
}

@media screen and (max-width: 479px) {
  .logo-area.w--current {
    margin-right: auto;
    margin-left: auto;
  }

  .top-menu-list {
    display: block;
  }

  .top-icons {
    display: block;
  }

  .image {
    font-size: 12px;
    line-height: 12px;
  }

  .logo-txt {
    font-size: 18px;
  }

  .top-menu-link {
    font-size: 10px;
    line-height: 16px;
  }

  .top-nav-icon {
    margin-right: auto;
    margin-left: auto;
  }

  .main-content {
    height: auto;
  }

  .top-content {
    max-height: none;
    max-width: 470px;
    padding-bottom: 0px;
  }

  .bottom-content {
    max-width: 500px;
  }

  .navbar-light-navbutton:hover {
    background-color: #fff;
  }

  .layout-container {
    max-width: 450px;
  }

  .layout-container.cc-heading-wrap {
    max-width: 450px;
    margin-bottom: auto;
  }

  .heading-contact-form {
    font-size: 20px;
    line-height: 25px;
  }

  .paragraph-bigger.cc-bigger-light {
    font-size: 9px;
    line-height: 25px;
  }

  .get-in-touch-form-wrap {
    width: 100%;
    max-width: none;
  }

  .subscribe-container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .subscribe-content-wrapper {
    padding-right: 4%;
    padding-left: 4%;
  }

  .second-section {
    max-width: 400px;
    margin-top: 16px;
  }

  .centered-container.horizontal-flex {
    max-width: 500px;
    margin-top: auto;
  }

  .feature-section-image {
    width: auto;
    height: auto;
  }

  .feature-section-content {
    min-height: auto;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .feature-section-heading-1 {
    margin-top: 10px;
    font-size: 15px;
  }

  .paragraph {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 10px;
  }

  .primary-button-black {
    margin-right: 0px;
    text-align: left;
  }

  .footer-with-links-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-thin-wrapper.footer-thin.copyright {
    position: fixed;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
  }

  .first-section {
    height: auto;
    max-height: none;
    max-width: 440px;
  }

  .nav-overlay {
    height: 100vh;
  }

  .top-nav {
    max-width: 450px;
  }

  .top-nav-menu-list {
    display: none;
  }

  .section-3 {
    max-width: 450px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .image-8 {
    width: auto;
    max-width: 250px;
  }

  .button {
    height: 5vh;
    max-width: 150px;
    font-size: 30px;
    line-height: 15px;
  }
}

#w-node-_0f9f1e87-600e-02a8-d5cd-0117279310b4-8b4983b6 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_0f9f1e87-600e-02a8-d5cd-0117279310ba-8b4983b6 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_0f9f1e87-600e-02a8-d5cd-0117279310c0-8b4983b6 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 991px) {
  #w-node-_0f9f1e87-600e-02a8-d5cd-0117279310c0-8b4983b6 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_0f9f1e87-600e-02a8-d5cd-0117279310ba-8b4983b6 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  #w-node-_0f9f1e87-600e-02a8-d5cd-0117279310c0-8b4983b6 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
}